body {
    margin: 0px;
    padding: 0px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.colordiv {
    display: flex;
    background-color: red;
    width: 200px;
    height: 200px;
    
}
.colordiv::after {
    content: "";
    width: 100px;
    height: 200px;
    background-color: brown;
}
